h1 {
  margin: 10px 0px 20px 0px;
  border-bottom-style: inset;
}

h3 {
  margin-top: 20px;
}

h3 > span {
  font-style: italic;
  color: red;
}

h5 > span {
  font-style: italic;
  color: blue;
  margin-right: 20px;
}

img { width: 100px; height: 100px; }

.quadroAzul {
  border: 3px solid blue; 
  border-radius: 6px; 
  height: 250px;
}

.quadroVermelho {
  border: 3px solid red; 
  border-radius: 6px; 
  height: 250px;
}

.margemSup {
  margin-top: 30px;
}